# ACIS Data Download

## 1. Data pull from LOCA dataset (Gridded Data 2)
## (Historical as well as Projected RCP85)

In [2]:
import json
import pandas as pd
import numpy as np
import requests
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
elements = [{"name":"maxt","interval":"mly","duration":"mly","reduce":"mean","area_reduce":"county_mean"},
            {"name":"avgt","interval":"mly","duration":"mly","reduce":"mean","area_reduce":"county_mean"},
            {"name":"mint","interval":"mly","duration":"mly","reduce":"mean","area_reduce":"county_mean"},
            {"name":"pcpn","interval":"mly","duration":"mly","reduce":"sum","area_reduce":"county_mean"}]

states = 'AL'
# states = 'AL,AK,AZ,AR,CA,CO,CT,DE,DC,FL,GA,HI,ID,IL,IN,IA,KS,KY,LA,ME,MT,NE,NV,NH,NJ,NM,NY,NC,ND,OH,OK,OR,MD,MA,MI,MN,MS,MO,PA,RI,SC,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY'

# elements =  [{"name":"pcpn","interval":"mly","duration":"mly","reduce":"sum","area_reduce":"county_mean"}]

# elements = [{"name":"mint","interval":"mly","duration":"mly","reduce":"mean","area_reduce":"county_mean"}]

# {"state":"AL,AK","sdate":"2024-06","edate":"2024-08","grid":"loca:wmean:rcp85","elems":[{"name":"mint","interval":"mly","duration":"mly","reduce":"mean","area_reduce":"county_mean"}]}

In [12]:
%%time

# Set parameters
start = "1970-01"
end = "2050-12"

# Set base URL, and pull the json data down using requests
base_url = 'http://grid2.rcc-acis.org/GridData' 
input_dict = {"state": states,"grid":"loca:wmean:rcp85",
              "sdate": start, "edate": end, 
              "elems": elements}

#Keep trying till success
while True:
    try:
        with requests.post(base_url, json=input_dict) as response:
            rawjson = response.content
    except:
        print('failed')
        continue
    else:
        break

# Convert raw json to a Python variable
newdata = json.loads(rawjson)['data']

CPU times: total: 234 ms
Wall time: 881 ms

In [13]:
# 81 years of data, we expect 81*12 months
print(81*12)

# How many months in the downloaded data?
len(newdata)

972

972

In [14]:
# How many counties in each month?
len(newdata[0][1])

90

In [15]:
# View the month
[(newdata[20][0])]

['1971-09']

In [16]:
# Trial, don't use

# mint = pd.DataFrame(newdata[20][1], index = ['mint']).transpose()
# maxt = pd.DataFrame(newdata[20][2], index = ['maxt']).transpose()
# avgt = pd.DataFrame(newdata[20][3], index = ['avgt']).transpose()
# pcpn = pd.DataFrame(newdata[20][4], index = ['pcpn']).transpose()
# combined_onemonth = pd.concat([mint,maxt,avgt,pcpn], axis=1)
# combined_onemonth.insert(0,'month',newdata[20][0])
# combined_onemonth = combined_onemonth.reset_index().rename(columns = {'index':'county'})
# combined_onemonth

In [18]:
%%time
# Loop to convert the JSON data into a dataframe


final = pd.DataFrame(columns=['county', 'month', 'mint', 'maxt', 'avgt', 'pcpn'])

for i in range(len(newdata)):
    mint = pd.DataFrame(newdata[i][1], index = ['mint']).transpose()
    maxt = pd.DataFrame(newdata[i][2], index = ['maxt']).transpose()
    avgt = pd.DataFrame(newdata[i][3], index = ['avgt']).transpose()
    pcpn = pd.DataFrame(newdata[i][4], index = ['pcpn']).transpose()
    combined_onemonth = pd.concat([mint,maxt,avgt,pcpn], axis=1)
    combined_onemonth.insert(0,'month',newdata[i][0])
    combined_onemonth = combined_onemonth.reset_index().rename(columns = {'index':'county'})
    combined_onemonth
    final = pd.concat([final, combined_onemonth])

CPU times: total: 4.72 s
Wall time: 4.69 s

In [19]:
final

   county    month       mint       maxt       avgt      pcpn
0   01001  1970-01  55.172170  44.383316  33.599150  4.473824
1   01003  1970-01  60.202305  49.611065  39.017280  5.020435
2   01005  1970-01  57.605236  46.414818  35.228480  4.282023
3   01007  1970-01  53.705177  42.364760  31.027027  4.858382
4   01009  1970-01  50.246710  39.333240  28.421835  5.060015
..    ...      ...        ...        ...        ...       ...
85  13285  2050-12  62.295643  49.919212  37.548447  4.905094
86  13295  2050-12  56.037693  44.593723  33.156017  5.410181
87  13313  2050-12  56.542984  45.611076  34.676410  5.219688
88  28057  2050-12  59.133934  47.982952  36.826977  5.548898
89  28141  2050-12  57.446354  46.320480  35.188152  5.371404

[87480 rows x 6 columns]

## 2. Download historical data (MultiStn data)
#### https://www.rcc-acis.org/docs_webservices.html

In [20]:
# Usual library imports
import json
import pandas as pd
import numpy as np
import requests

# Set some parameters
start = "2018-08-01"
end = "2019-08-31"
county = ["36119", "36001"]

# Set base URL, and pull the json data down using requests
base_url = "http://data.rcc-acis.org/MultiStnData"
input_dict = {"county": county, "meta": [], 
              "sdate": start, "edate": end, 
              "elems": "mly_mean_avgt,mly_min_mint,mly_max_maxt,mly_sum_hdd,mly_sum_gdd,mly_sum_pcpn,mly_sum_snow"}
with requests.post(base_url, json=input_dict) as response:
    rawjson = response.content

# Convert raw json to a Python variable
newdata = json.loads(rawjson)['data']

In [21]:
newdata

[{'meta': {'county': '36119', 'uid': 18415},
  'data': [['74.66', '54', '93', '0', '773', '8.52', '0.0'],
   ['66.78', '45', '93', '70', '512', '5.73', '0.0'],
   ['52.90', '29', '81', '387', '191', '5.01', '0.0'],
   ['38.73', '7', '69', '780', '22', '8.80', '8.0'],
   ['34.32', '15', '61', '940', '6', '5.16', '0.5'],
   ['28.24', '-0', '55', '1131', '0', '6.57', '2.6'],
   ['30.54', '-3', '64', '956', '0', '3.15', '4.0'],
   ['35.34', '7', '72', '911', '11', '3.15', '11.0'],
   ['50.38', '22', '78', '417', '104', '5.58', '0.0'],
   ['58.03', '39', '86', '224', '278', '5.78', '0.0'],
   ['66.33', '40', '88', '41', '499', '4.67', '0.0'],
   ['75.23', '57', '96', '0', '791', '3.25', '0.0'],
   ['71.61', '51', '92', '3', '676', '2.27', '0.0']]},
 {'meta': {'county': '36001', 'uid': 18747},
  'data': [['75.13', '57', '96', '0', '787', '4.20', '0.0'],
   ['67.20', '43', '94', '88', '524', '5.62', '0.0'],
   ['50.74', '27', '83', '454', '135', '3.77', 'T'],
   ['36.97', '4', '64', '834', '10', '5.59', '10.4'],
   ['32.37', '13', '62', '1004', '0', '3.04', '3.3'],
   ['23.32', '-7', '53', '1286', '0', '4.29', '18.9'],
   ['27.57', '-8', '57', '1042', '0', '2.68', '14.1'],
   ['35.15', '4', '72', '917', '15', '1.35', '6.6'],
   ['49.78', '22', '77', '452', '104', '4.32', '2.1'],
   ['58.53', '40', '86', '211', '286', '3.08', '0.0'],
   ['68.00', '44', '91', '27', '551', '5.15', '0.0'],
   ['76.18', '57', '95', '0', '821', '3.99', '0.0'],
   ['71.69', '52', '88', '2', '680', '4.12', '0.0']]},
 {'meta': {'county': '36001', 'uid': 18660},
  'data': [['70.95', '53', '90', '2', '659', '9.71', '0.0'],
   ['63.02', '41', '87', '132', '396', '5.76', '0.0'],
   ['48.40', '27', '80', '482', '97', '4.16', '0.0'],
   ['34.47', '2', '61', '907', '7', '6.30', '6.5'],
   ['28.94', '11', '58', '1112', '0', '2.53', 'T'],
   ['21.58', '-18', '54', '1338', '0', '3.84', '16.0'],
   ['23.89', '-22', '58', '1144', '0', '1.78', '10.8'],
   ['29.81', '-9', '68', '1084', '5', '1.22', '6.9'],
   ['46.38', '17', '76', '551', '53', '3.80', '1.0'],
   ['55.39', '33', '82', '298', '190', '3.84', '0.0'],
   ['63.67', '40', '84', '74', '418', '5.09', '0.0'],
   ['69.96', '50', '88', '0', '529', '4.28', '0.0'],
   ['67.41', '45', '83', '25', '511', '3.79', '0.0']]},
 {'meta': {'county': '36119', 'uid': 29866},
  'data': [['75.76', '58', '93', '0', '808', '7.93', 'M'],
   ['68.02', '51', '92', '49', '548', '9.11', 'M'],
   ['54.42', '32', '79', '349', '210', '4.50', 'M'],
   ['41.35', '11', '70', '702', '35', '6.16', 'M'],
   ['36.52', '19', '62', '848', '4', '6.43', 'M'],
   ['29.10', '0', '56', '1037', '0', '4.42', 'M'],
   ['32.68', '8', '63', '898', '0', '2.54', 'M'],
   ['37.24', '12', '67', '852', '12', '2.83', 'M'],
   ['51.25', '28', '75', '404', '114', '4.76', 'M'],
   ['58.94', '40', '85', '204', '298', '6.94', 'M'],
   ['68.62', '47', '91', '25', '567', '2.77', 'M'],
   ['76.79', '61', '95', '0', '838', '7.56', 'M'],
   ['72.20', '53', '90', '3', '674', '2.71', 'M']]},
 {'meta': {'county': '36001', 'uid': 56697},
  'data': [['M', 'M', 'M', 'M', 'M', '6.56', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.58', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.82', 'T'],
   ['M', 'M', 'M', 'M', 'M', '6.72', '23.5'],
   ['M', 'M', 'M', 'M', 'M', '2.27', '3.6'],
   ['M', 'M', 'M', 'M', 'M', '4.20', '8.5'],
   ['M', 'M', 'M', 'M', 'M', '2.47', '15.8'],
   ['M', 'M', 'M', 'M', 'M', '2.29', '13.4'],
   ['M', 'M', 'M', 'M', 'M', '3.66', '1.5'],
   ['M', 'M', 'M', 'M', 'M', '5.04', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.07', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.78', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '2.91', '0.0']]},
 {'meta': {'county': '36001', 'uid': 56698},
  'data': [['M', 'M', 'M', 'M', 'M', '5.49', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.10', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.70', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.24', '9.6'],
   ['M', 'M', 'M', 'M', 'M', '2.84', '3.4'],
   ['M', 'M', 'M', 'M', 'M', '4.37', '17.1'],
   ['M', 'M', 'M', 'M', 'M', '2.95', '12.7'],
   ['M', 'M', 'M', 'M', 'M', '1.60', '6.8'],
   ['M', 'M', 'M', 'M', 'M', '4.59', '1.0'],
   ['M', 'M', 'M', 'M', 'M', '4.36', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.49', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.95', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '0.66', '0.0']]},
 {'meta': {'county': '36001', 'uid': 56699},
  'data': [['M', 'M', 'M', 'M', 'M', '7.27', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.05', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.93', 'T'],
   ['M', 'M', 'M', 'M', 'M', '6.48', '21.5'],
   ['M', 'M', 'M', 'M', 'M', '3.22', '6.4'],
   ['M', 'M', 'M', 'M', 'M', '4.71', '23.6'],
   ['M', 'M', 'M', 'M', 'M', '2.39', '14.7'],
   ['M', 'M', 'M', 'M', 'M', '1.61', '11.9'],
   ['M', 'M', 'M', 'M', 'M', '4.41', '0.9'],
   ['M', 'M', 'M', 'M', 'M', '4.87', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.25', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.83', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.00', '0.0']]},
 {'meta': {'county': '36001', 'uid': 56702},
  'data': [['M', 'M', 'M', 'M', 'M', '5.42', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.50', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.20', 'T'],
   ['M', 'M', 'M', 'M', 'M', '5.11', '9.1'],
   ['M', 'M', 'M', 'M', 'M', '2.23', '3.3'],
   ['M', 'M', 'M', 'M', 'M', '4.20', '16.6'],
   ['M', 'M', 'M', 'M', 'M', '2.40', '11.9'],
   ['M', 'M', 'M', 'M', 'M', '1.10', '5.8'],
   ['M', 'M', 'M', 'M', 'M', '4.24', '1.7'],
   ['M', 'M', 'M', 'M', 'M', '3.95', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.09', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.98', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.24', '0.0']]},
 {'meta': {'county': '36001', 'uid': 56703},
  'data': [['M', 'M', 'M', 'M', 'M', '8.17', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.40', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.58', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.19', '11.0'],
   ['M', 'M', 'M', 'M', 'M', '0.98', '2.9'],
   ['M', 'M', 'M', 'M', 'M', '0.39', '4.7'],
   ['M', 'M', 'M', 'M', 'M', '2.63', '14.1'],
   ['M', 'M', 'M', 'M', 'M', '1.27', '6.4'],
   ['M', 'M', 'M', 'M', 'M', '3.89', '1.3'],
   ['M', 'M', 'M', 'M', 'M', '3.47', 'T'],
   ['M', 'M', 'M', 'M', 'M', '4.69', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.46', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.15', '0.0']]},
 {'meta': {'county': '36119', 'uid': 68062},
  'data': [['M', 'M', 'M', 'M', 'M', '8.51', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.94', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.19', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '9.52', '6.5'],
   ['M', 'M', 'M', 'M', 'M', '5.87', 'T'],
   ['M', 'M', 'M', 'M', 'M', '6.44', '2.5'],
   ['M', 'M', 'M', 'M', 'M', '3.33', '4.5'],
   ['M', 'M', 'M', 'M', 'M', '3.24', '9.5'],
   ['M', 'M', 'M', 'M', 'M', '5.04', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.81', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.49', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.68', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.43', '0.0']]},
 {'meta': {'county': '36001', 'uid': 69357},
  'data': [['M', 'M', 'M', 'M', 'M', '8.61', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '2.45', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.15', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.40', '5.0'],
   ['M', 'M', 'M', 'M', 'M', '2.72', '2.5'],
   ['M', 'M', 'M', 'M', 'M', '4.87', '24.0'],
   ['M', 'M', 'M', 'M', 'M', '1.57', '12.0'],
   ['M', 'M', 'M', 'M', 'M', '1.35', '4.5'],
   ['M', 'M', 'M', 'M', 'M', '4.14', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.73', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.85', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '7.55', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.11', '0.0']]},
 {'meta': {'county': '36119', 'uid': 76039},
  'data': [['M', 'M', 'M', 'M', 'M', '7.16', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.98', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.40', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '7.05', '6.2'],
   ['M', 'M', 'M', 'M', 'M', '6.00', '0.1'],
   ['M', 'M', 'M', 'M', 'M', '3.22', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.26', '0.3'],
   ['M', 'M', 'M', 'M', 'M', '3.15', '12.2'],
   ['M', 'M', 'M', 'M', 'M', '4.49', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.57', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.30', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.79', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.22', 'M']]},
 {'meta': {'county': '36119', 'uid': 57060},
  'data': [['M', 'M', 'M', 'M', 'M', '9.10', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.56', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.61', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '7.53', '7.8'],
   ['M', 'M', 'M', 'M', 'M', '6.33', '1.3'],
   ['M', 'M', 'M', 'M', 'M', '5.37', '1.5'],
   ['M', 'M', 'M', 'M', 'M', '2.08', '3.8'],
   ['M', 'M', 'M', 'M', 'M', '2.85', '10.4'],
   ['M', 'M', 'M', 'M', 'M', '6.01', 'T'],
   ['M', 'M', 'M', 'M', 'M', '5.93', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.86', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.85', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '2.88', '0.0']]},
 {'meta': {'county': '36119', 'uid': 57061},
  'data': [['M', 'M', 'M', 'M', 'M', '10.29', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.88', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.87', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '9.14', '2.0'],
   ['M', 'M', 'M', 'M', 'M', '5.45', 'T'],
   ['M', 'M', 'M', 'M', 'M', '6.80', '0.3'],
   ['M', 'M', 'M', 'M', 'M', '3.15', '2.1'],
   ['M', 'M', 'M', 'M', 'M', '3.59', '6.2'],
   ['M', 'M', 'M', 'M', 'M', '5.55', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.35', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.06', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.36', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '2.05', '0.0']]},
 {'meta': {'county': '36001', 'uid': 97891},
  'data': [['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', '1.11', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.97', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.37', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.16', 'M']]},
 {'meta': {'county': '36119', 'uid': 92934},
  'data': [['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', '5.81', '2.4'],
   ['M', 'M', 'M', 'M', 'M', '3.00', '4.2'],
   ['M', 'M', 'M', 'M', 'M', '3.07', '14.5'],
   ['M', 'M', 'M', 'M', 'M', '5.94', 'T'],
   ['M', 'M', 'M', 'M', 'M', '5.58', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.56', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.79', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.28', '0.0']]},
 {'meta': {'county': '36001', 'uid': 92986},
  'data': [['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', '1.59', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.90', '0.4'],
   ['M', 'M', 'M', 'M', 'M', '2.82', '1.6'],
   ['M', 'M', 'M', 'M', 'M', '3.97', '6.2'],
   ['M', 'M', 'M', 'M', 'M', '2.35', '9.3'],
   ['M', 'M', 'M', 'M', 'M', '3.71', '3.5'],
   ['M', 'M', 'M', 'M', 'M', '3.62', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.45', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.97', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.79', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.32', '0.0']]},
 {'meta': {'county': '36001', 'uid': 93246},
  'data': [['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', '0.18', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.61', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '3.65', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.10', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.17', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.46', '0.0']]},
 {'meta': {'county': '36001', 'uid': 94213},
  'data': [['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', '0.35', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.04', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.24', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.83', 'M']]},
 {'meta': {'county': '36119', 'uid': 80824},
  'data': [['M', 'M', 'M', 'M', 'M', '10.48', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '7.54', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '6.39', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '7.42', '7.5'],
   ['M', 'M', 'M', 'M', 'M', '6.93', '1.0'],
   ['M', 'M', 'M', 'M', 'M', '5.77', '1.7'],
   ['M', 'M', 'M', 'M', 'M', '3.09', '3.9'],
   ['M', 'M', 'M', 'M', 'M', '3.13', '14.9'],
   ['M', 'M', 'M', 'M', 'M', '5.50', 'T'],
   ['M', 'M', 'M', 'M', 'M', '6.49', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.56', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.93', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.90', '0.0']]},
 {'meta': {'county': '36001', 'uid': 82357},
  'data': [['M', 'M', 'M', 'M', 'M', '6.84', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.61', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.21', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.83', 'M'],
   ['M', 'M', 'M', 'M', 'M', '0.19', 'M'],
   ['M', 'M', 'M', 'M', 'M', '1.09', 'M'],
   ['M', 'M', 'M', 'M', 'M', '0.18', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '0.78', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.74', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.99', 'M'],
   ['M', 'M', 'M', 'M', 'M', '5.52', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.68', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.04', '0.0']]},
 {'meta': {'county': '36001', 'uid': 83992},
  'data': [['M', 'M', 'M', 'M', 'M', '1.83', 'M'],
   ['M', 'M', 'M', 'M', 'M', '5.39', 'M'],
   ['M', 'M', 'M', 'M', 'M', '2.25', 'M'],
   ['M', 'M', 'M', 'M', 'M', '5.69', '7.8'],
   ['M', 'M', 'M', 'M', 'M', '2.38', '2.5'],
   ['M', 'M', 'M', 'M', 'M', '1.51', '15.0'],
   ['M', 'M', 'M', 'M', 'M', '1.71', '7.4'],
   ['M', 'M', 'M', 'M', 'M', '1.26', '5.3'],
   ['M', 'M', 'M', 'M', 'M', '3.92', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.01', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.85', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '4.30', '0.0'],
   ['M', 'M', 'M', 'M', 'M', '5.35', '0.0']]},
 {'meta': {'county': '36001', 'uid': 85407},
  'data': [['M', 'M', 'M', 'M', 'M', '7.89', 'M'],
   ['M', 'M', 'M', 'M', 'M', '5.40', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.43', 'M'],
   ['M', 'M', 'M', 'M', 'M', '5.94', '1.2'],
   ['M', 'M', 'M', 'M', 'M', '2.26', '2.2'],
   ['M', 'M', 'M', 'M', 'M', '4.53', 'T'],
   ['M', 'M', 'M', 'M', 'M', '2.24', 'M'],
   ['M', 'M', 'M', 'M', 'M', '0.90', '3.6'],
   ['M', 'M', 'M', 'M', 'M', '4.09', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.84', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.78', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.22', 'M'],
   ['M', 'M', 'M', 'M', 'M', '6.45', 'M']]},
 {'meta': {'county': '36001', 'uid': 86364},
  'data': [['M', 'M', 'M', 'M', 'M', '7.11', 'M'],
   ['M', 'M', 'M', 'M', 'M', '2.14', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M'],
   ['M', 'M', 'M', 'M', 'M', 'M', 'M']]},
 {'meta': {'county': '36119', 'uid': 86635},
  'data': [['M', 'M', 'M', 'M', 'M', '1.07', 'M'],
   ['M', 'M', 'M', 'M', 'M', '8.94', 'M'],
   ['M', 'M', 'M', 'M', 'M', '2.93', 'M'],
   ['M', 'M', 'M', 'M', 'M', '7.09', 'M'],
   ['M', 'M', 'M', 'M', 'M', '5.87', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.71', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.18', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.43', 'M'],
   ['M', 'M', 'M', 'M', 'M', '4.25', 'M'],
   ['M', 'M', 'M', 'M', 'M', '8.06', 'M'],
   ['M', 'M', 'M', 'M', 'M', '3.03', 'M'],
   ['M', 'M', 'M', 'M', 'M', '5.60', 'M'],
   ['M', 'M', 'M', 'M', 'M', '2.06', 'M']]}]

In [22]:
# Here we convert the newdata variable to a Pandas dataframe

# Set some more parameters that will be reused
dates = pd.date_range(start=start,end=end, freq='M')
columns = ["mly_mean_avgt", "mly_min_mint", "mly_max_maxt", "mly_sum_hdd", "mly_sum_gdd", "mly_sum_pcpn", "mly_sum_snow"]

# With some pandas gymnastics, loop through the json data and put it in a dataframe
appended_data = []

for i in range(len(newdata)):
    data = pd.DataFrame(newdata[i]['data'], index=dates, columns=columns)
    data.insert(0,"county", newdata[i]['meta']['county'] )
    data.insert(1,"uid", newdata[2]['meta']['uid'] )
    appended_data.append(data)
    
appended_data = pd.concat(appended_data)

In [23]:
appended_data

,county,uid,mly_mean_avgt,mly_min_mint,mly_max_maxt,mly_sum_hdd,mly_sum_gdd,mly_sum_pcpn,mly_sum_snow
2018-08-31,36119,18660,74.66,54,93,0,773,8.52,0.0
2018-09-30,36119,18660,66.78,45,93,70,512,5.73,0.0
2018-10-31,36119,18660,52.90,29,81,387,191,5.01,0.0
2018-11-30,36119,18660,38.73,7,69,780,22,8.80,8.0
2018-12-31,36119,18660,34.32,15,61,940,6,5.16,0.5
...,...,...,...,...,...,...,...,...,...
2019-04-30,36119,18660,M,M,M,M,M,4.25,M
2019-05-31,36119,18660,M,M,M,M,M,8.06,M
2019-06-30,36119,18660,M,M,M,M,M,3.03,M
2019-07-31,36119,18660,M,M,M,M,M,5.60,M
2019-08-31,36119,18660,M,M,M,M,M,2.06,M